.scrollBox {
    height:35vw;
    width:50vw;
    border:1px solid #ccc;
    overflow:scroll;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;

}

.inner-scrollBox {
    flex-direction: column;
}

.time {
    font-size: 10px;
    text-align: right;
}

.message {
    border-radius: 25px;
    border: 1px solid black;
    padding: 5px 15px 0px 15px;

}

p { margin:3px }

