.scrollBox {
    height:35vw;
    width:50vw;
    border:1px solid #ccc;
    overflow:scroll;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;

}

.inner-scrollBox {
    flex-direction: column;
}

small {
    font-size: 10px;
}